<h2>Examples</h2>

<ul>
  <li><LinkTo @route="examples.simple">Simple</LinkTo></li>
  <li><LinkTo @route="examples.inline">Inline</LinkTo></li>
  <li><LinkTo @route="examples.disabled">Disabled</LinkTo></li>
</ul>