{{! template-lint-disable no-implicit-this no-curly-component-invocation}}
{{page-title "Examples"}}

{{! MD-BLOCK}}
# Simple editor

Place the `{{editor}}` modifier on any `div`, `textarea` to create a TinyMCE editor instance.

Based on action up / data down principle, you can update your content.
{{! MD-BLOCK}}

<p class="py-10">
  <SimpleExample />
</p>

<p>
  <CodeSnippet @name="simple-example.hbs" />
</p>

<br>

{{! MD-BLOCK}}
# Configure editor

You can pass [TinyMCE config](https://www.tiny.cloud/docs/configure/) object to your editor instance.

{{! MD-BLOCK}}

<p class="py-10">
  <InlineExample />
</p>

<p>
  <CodeSnippet @name="inline-example.hbs" />
</p>

<br>

{{! MD-BLOCK}}
# Disabled State

You can turn on/off TinyMCE read-only mode dynamically.
{{! MD-BLOCK}}

<p class="py-10">
  <DisabledExample />
</p>

<p>
  <CodeSnippet @name="disabled-example.hbs" />
</p>
