<HeroHeader
  @addonName="Tinymce"
  @addonDescription="TinyMCE Ember addon"
/>

<div
  class="px-4 py-10 max-w-3xl mx-auto sm:px-6 sm:py-12 lg:max-w-4xl lg:py-16 lg:px-8"
>
  {{! MD-BLOCK }}
  # Introduction

  Ember CLI addon that helps you integrate <a href="https://www.tiny.cloud/docs/" target="_blank" rel="noopener noreferrer"><b>TinyMCE</b></a> editor into your application.
  {{! MD-BLOCK }}
  <br />

  <textarea {{editor}}></textarea>

  <br />
  <aside class="flex items-center rounded-sm bg-gray-50 p-2">
    <em>
      This addon is provided by &nbsp;
    </em>
    <a href="https://concordnow.com">
      <img
        width="100"
        src="https://www.concordnow.com/wp-content/themes/concord/layoutImg/concord_logo-grey.svg"
        alt="Concord"
      />
    </a>
  </aside>

  <div class="my-12 text-right">
    <LinkTo
      @route="docs"
      class="bg-gray-800 hover:bg-black text-white py-2 px-4 no-underline rounded"
    >
      Read the docs →
    </LinkTo>
  </div>
</div>