<DocsHero />

<div class="docs-container docs-md">
  <section class="docs-max-w-md docs-mx-auto docs-p-8">
    Ember addon that helps you integrate <a href="https://www.tiny.cloud/docs/" target="_blank" rel="noopener noreferrer"><b>TinyMCE</b></a> editor into your application.
    <br>
    <aside class="docs-flex docs-items-center">This addon is provided by &nbsp;<a href="https://concordnow.com"><img width="100" src="https://www.concordnow.com/wp-content/themes/concord/layoutImg/concord_logo-grey.svg" alt="Concord"></a></aside>
  </section>
</div>