<DocsHero />

<div class="docs-container docs-md">
  <section class="docs-max-w-md docs-mx-auto docs-p-8">
    Ember addon that helps you integrate <a href="https://www.tiny.cloud/docs/" target="_blank" rel="noopener noreferrer"><b>TinyMCE</b></a> editor into your application.
  </section>
</div>