{{! BEGIN-SNIPPET disabled-example }}
<button
  class="bg-gray-800 hover:bg-black text-white py-2 px-4 no-underline rounded"
  type="button"
  {{on 'click' this.toggleDisabled}}
>Toggle disabled</button>

<textarea {{editor disabled=this.disabled content="Read-only content"}}></textarea>
{{! END-SNIPPET }}